body {
    background-color: #bdeeff;
    overflow: hidden;
    width: 200%;
    height: 200%;
}
#imgs {
    opacity: 0;
    position: relative;
    z-index:-1;
}
#colorPicker{
    background-color: rgba(122,122,122,122);
    border-radius:10px;
    top:10px;
    left:10px;
    position: relative;
    width: 100px;
    height: 40px;
}
